@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary-green: #1a4a3a;
  --light-green: #4d5e58;
  --very-light-green: #cbe3db;
  --yellow: #eed049;
  --light-gray: #e2e2e2;
}
* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-light-green);
  padding: 10px 30px;
  border-radius: 10px;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-light-green);
  padding: 30px 10px;
  border-radius: 10px;
}

.header-mobile img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.smallNavContainer {
  background-color: var(--very-light-green);
  padding: 5px 10px;
  min-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: -10px -10px 30px -10px;
}

#smallNavTopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#smallNavTopHeader img {
  height: 3rem;
  border-radius: 50%;
  display: block;
}

.navSmallContent {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.navSmallContent a {
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
  padding: 10px;
}
.navSmallContent a:hover {
  background-color: var(--yellow);
  border-radius: 10px;
}

#burgerContainer {
  display: flex;
  background: var(--color-blue);
  align-items: center;
  justify-content: space-between;
}

#burger {
  min-height: 3rem;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-weight: bold;
}

.main-container {
  height: 100%;
  flex: 1;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reserveContainer {
  position: relative;
  background-color: var(--light-green);
  width: 100%;
  max-height: 20rem;
  display: flex;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
}

.reserveTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.reserveTextSection h2 {
  color: var(--yellow);
}

.reserveButton {
  text-decoration: none;
  background-color: var(--yellow);
  color: black;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  max-width: 15rem;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

.tablesImg {
  display: block;
  width: 25%;
  height: auto;
}

.menuContainer {
  padding: 20px;
}

.menuContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

#menuTitle {
  color: var(--primary-green);
  text-align: center;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-height: 30rem;
  background-color: var(--primary-green);
  border-radius: 10px;
  text-align: center;
  width: 20%;
  max-width: 15rem;
  color: white;
  padding-bottom: 20px;
  height: auto;
  box-shadow: 0 0 20px gray;
}

.menuContainer img {
  height: auto;
  display: block;
}

.menuContainer section {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuItemContainerMobile {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: var(--primary-green);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: white;
  padding-bottom: 20px;
  max-height: 15rem;
}

.menuItemContainerMobile img {
  /* height: 10rem; */
  width: clamp(10rem, 35%, 15rem);
}

.menuItemContainerMobile section {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menuContainer h3 {
  color: var(--yellow);
}

.menuContainer section p {
  flex: 1;
}

.menuGoIcon {
  margin-top: 20px;
  font-size: 2rem;
}

.reviewsContainer {
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: 20px;
  margin: 30px;
  text-align: center;
}

.reviewsContainer section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.reviewsContainer section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 20rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 30px;
  background-color: var(--light-green);
  color: white;
  border-radius: 10px;
}

.footer img {
  filter: brightness(1000%);
  padding: 30px 0;
  max-width: 100%;
  height: auto;
  display: block;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 10rem;
  margin-top: 20px;
}

.social-media-footer > * {
  margin-right: 10px;
}
