@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary-green: #1a4a3a;
  --light-green: #4d5e58;
  --very-light-green: #cbe3db;
  --yellow: #eed049;
  --light-gray: #e2e2e2;
}
* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-light-green);
  padding: 10px 30px;
  border-radius: 10px;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-light-green);
  padding: 30px 10px;
  border-radius: 10px;
}

.header-mobile img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.smallNavContainer {
  background-color: var(--very-light-green);
  padding: 5px 10px;
  min-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: -10px -10px 30px -10px;
}

#smallNavTopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#smallNavTopHeader img {
  height: 3rem;
  border-radius: 50%;
  display: block;
}

.navSmallContent {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.navSmallContent a {
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
  padding: 10px;
}
.navSmallContent a:hover {
  background-color: var(--yellow);
  border-radius: 10px;
}

#burgerContainer {
  display: flex;
  background: var(--color-blue);
  align-items: center;
  justify-content: space-between;
}

#burger {
  min-height: 3rem;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-weight: bold;
}

.main-container {
  height: 100%;
  flex: 1;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reserveContainer {
  position: relative;
  background-color: var(--light-green);
  width: 100%;
  max-height: 20rem;
  display: flex;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
}

.reserveTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.reserveTextSection h2 {
  color: var(--yellow);
}

.reserveButton {
  text-decoration: none;
  background-color: var(--yellow);
  color: black;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  max-width: 15rem;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

.tablesImg {
  display: block;
  width: 25%;
  height: auto;
}

.menuContainer {
  padding: 20px;
  font-size: clamp(12px, 3vw, 1rem);
}

.menuContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

#menuTitle {
  color: var(--primary-green);
  text-align: center;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-height: 30rem;
  background-color: var(--primary-green);
  border-radius: 10px;
  text-align: center;
  /* width: 25%; */
  width: 20rem;
  color: white;
  padding-bottom: 20px;
  height: auto;
  box-shadow: 0 0 20px gray;
}

.menuContainer img {
  height: auto;
  display: block;
}

.menuContainer section {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuContainer h3 {
  color: var(--yellow);
}

.menuContainer section p {
  flex: 1;
}
.menuItemContainerMobile {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  min-height: 30re®m;
  background-color: var(--primary-green);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: white;
  padding-bottom: 20px;
  height: auto;
  box-shadow: 0 0 20px gray;
}

.menuGoIcon {
  margin-top: 20px;
  font-size: 2rem;
}

.reviewsContainer {
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  font-size: clamp(12px, 3vw, 1rem);
}

.reviewsContainer section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.reviewsContainer section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 20rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 30px;
  background-color: var(--light-green);
  color: white;
  border-radius: 10px;
  font-size: 10px;
  gap: 10px;
}

.imgAndSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  filter: brightness(1000%);
  max-width: 100%;
  height: auto;
  display: block;
}

.footer h4 {
  margin: 0;
  border-bottom: 1px solid white !important;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 10rem;
  margin-top: 20px;
}

.social-media-footer > * {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Reservations Page */

.reservationsMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservationContainer {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  width: 28%;
  padding: 30px;
  border-radius: 20px;
  height: 42rem;
  margin: 0 10px;
  box-shadow: 0 0 10px var(--primary-green);
}

.reservationContainerMobile {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  height: 42rem;
  margin: 10px 0;
}

.reservationContainer > h1,
.reservationContainerMobile > h1 {
  color: var(--primary-green);
  margin-top: 0;
  font-size: clamp(20px, 2vw, 2rem);
}
.reservationForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  justify-content: space-between;
}

.reservationForm input,
.reservationForm select {
  width: 100%;
  height: 3rem;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--light-green);
  padding: 10px;
}

.reservationForm label {
  font-weight: bold;
}

.selectPeople {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stepper svg,
.peopleCheck {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--primary-green);
}

.stepper h1 {
  margin-right: 20px;
}

.tableTimesContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: var(--very-light-green);
  padding: 20px;
  justify-content: center;
  height: 16rem;
  overflow-x: scroll;
}

.timeBox {
  padding: 8px;
  background-color: var(--light-green);
  color: white;
  width: 6rem;
  margin: 3px;
  border-radius: 20px;
  border: 3px solid var(--primary-green);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 4rem;
}

.selected {
  background-color: var(--yellow);
  color: black;
}

.confirmationDialog p {
  margin: 20px;
}

.confirmationDialog h2 {
  color: var(--primary-green);
  text-align: center;
  background-color: var(--very-light-green);
  padding: 5px;
  border-radius: 10px;
  border: 3px solid var(--primary-green);
}

.confirmationDialog span {
  color: var(--primary-green);
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--primary-green);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.field-error {
  position: absolute;
  right: 0;
  top: 11px;
  margin: 0;
  color: red;
  font-size: 0.7rem;
}

.formGroup div {
  position: relative;
}
